extends layout.pug
block content
    .error-page
        h1.error-page__code 404
        .error-page__description Page does not exist 
        .error-page__actions
            a.btn(href="/") Create new

block meta_info
    title Page does not exist 