<!DOCTYPE html>
html(lang="en")
    head(prefix="article: http://ogp.me/ns/article#")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="icon", href="/favicon.ico", type="image/x-icon")
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        block styles
            link(rel="stylesheet", href="/css/bundle.css")
        block meta_info
            title New post
            meta(name="description", content="Node-telegraph is simple http://telegra.ph/ clone made for educational purposes")
            meta(property="og:title", content="New post")
            meta(property="og:description", content="Node-telegraph is simple http://telegra.ph/ clone made for educational purposes")
            meta(name="twitter:card", content="summary")
            meta(name="twitter:title", content="New post")
            meta(name="twitter:description", content="Node-telegraph is simple http://telegra.ph/ clone made for educational purposes")
    body
        block content
        block scripts
            script(src="/js/bundle.js")