<!DOCTYPE html>
html(lang="en")
    head(prefix="article: http://ogp.me/ns/article#")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="icon", href="/favicon.ico", type="image/x-icon")
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        block styles
            link(rel="stylesheet", href="/css/bundle.css")
        title #{title}
        block meta_info
    body
        block content
        block scripts
            script(src="/js/bundle.js")