extends layout.pug
block content
    .post-page
        #post-form.post-form(data-post-code=post.code)
            include toolbar.pug
            .post-form__heading #{post.title}
            .post-form__author #{post.author}
            .post-form__story !{post.story}
            button.post-form__publish Save