extends layout.pug
block content
    .error-page
        h1.error-page__code Oops...
        .error-page__description 
            | Seems like there is a problem with our service. 
            br 
            | We are already fixing it, stay tuned.

block meta_info
    title Maintenance