#post-form__toolbar.post-form__toolbar
    button.ql-bold
    button.ql-italic
    button.ql-link
    button.ql-blockquote
    button.ql-code-block
    button.ql-header(value="2")
    button.ql-header(value="3")
    button.ql-image
    button.ql-video
#post-form__media-toolbar.post-form__media-toolbar media