#post-form__toolbar.post-form__toolbar
    button.ql-bold
    button.ql-italic
    button.ql-link
    button.ql-blockquote
    button.ql-code-block
    button.ql-header(value="2")
    button.ql-header(value="3")
#post-form__toolbar-media.post-form__toolbar-media
    button.post-form__toolbar-media-video
    button.post-form__toolbar-media-image