.post-page {
    width: 100%;
    max-width: 720px;
    margin: 40px 0 80px 120px;
    padding: 20px 40px;
    box-sizing: border-box;
}

@media (max-width: 960px) {
    .post-page {
        margin: 40px auto 80px auto;
    }
}

@media (max-width: 425px) {
    .post-page {
        margin: 10px auto 40px;
        padding: 20px 30px;
    }
}

.post-form {
    .post-form__heading {
        margin-bottom: 5px;
        font-size: 2.2em;
        font-weight: bold;

        .ql-editor p {
            margin-bottom: 0;
        }
    }

    .post-form__heading.ql-container {
        font-size: 2.2em;
    }

    .post-form__author {
        margin-bottom: 16px;
        color: #8a8a8a;
        font-size: .85em;
    }

    .post-form__author.ql-container {
        font-size: .85em;
    }

    .post-form__publish {
        -webkit-appearance: none;
        background: #fff;
        border: 3px solid #000;
        padding: 9px 15px;
        font-weight: bold;
        border-radius: 20px;
        outline: none;
        cursor: pointer;
    }

    .post-form__story {
        margin-bottom: 60px;
    }

    .ql-container {
        border: none;
        font-family: $font-sans;
        font-size: 1em;
    }

    .ql-editor {
        padding: 0;

        h1, h2, h3 {
            margin-bottom: .3em;
        }

        h4, h5, h6 { 
            margin-bottom: .6em;
        }

        p {
            margin-bottom: 1em;
        }

        blockquote {
            margin-top: 2.2em;
            margin-bottom: 2.2em;
        }

        pre, code {
            margin-top: 2.2em;
            margin-bottom: 2.2em;
        }

        ol, ul {
            margin-bottom: 1em;
        }

        .ql-video {
            margin-top: 2.2em;
            margin-bottom: 2.2em;
        }
    }

    .ql-editor.ql-blank:before {
        left: 0;
        right: 0;
        font-style: normal;
    }

    .error .ql-editor.ql-blank:before {
        color: rgba(255, 0, 0, .75);
    }
}