.post-page {
    width: 100%;
    max-width: 640px;
    margin: 40px 0 80px 120px;
}

.post-form {
    .post-form__heading {
        margin-bottom: 10px;
        font-size: 2.2em;
        font-weight: bold;
    }

    .post-form__heading.ql-container {
        font-size: 2.2em;
    }

    .post-form__author {
        position: relative;
        margin-bottom: 40px;
    }

    .post-form__story {
        position: relative;
    }

    .ql-container {
        border: none;
        font-family: $font-sans;
        font-size: 1em;
    }

    .ql-editor {
        padding: 0;
    }

    .ql-editor.ql-blank:before {
        left: 0;
        right: 0;
    }
}