.post-page {
    width: 100%;
    max-width: 720px;
    margin: 40px 0 80px 120px;
    padding: 20px 40px;
    box-sizing: border-box;
}

@media (max-width: 960px) {
    .post-page {
        margin: 40px auto 80px auto;
    }
}

@media (max-width: 425px) {
    .post-page {
        margin: 10px auto 40px;
        padding: 20px 30px;
    }
}

.post-form {
    .post-form__heading {
        margin-bottom: 5px;
        font-size: 2.2em;
        font-weight: bold;

        .ql-editor p {
            margin-bottom: 0;
        }
    }

    .post-form__heading.ql-container {
        font-size: 2.2em;
    }

    .post-form__author {
        position: relative;
        margin-bottom: 40px;
        color: #8a8a8a;
    }

    @media (max-width: 425px) {
        .post-form__author {
            margin-bottom: 20px;
        }
    }

    .post-form__story {
        position: relative;
    }

    .ql-container {
        border: none;
        font-family: $font-sans;
        font-size: 1em;
    }

    .ql-editor {
        padding: 0;

        h1, h2, h3 {
            margin-bottom: .3em;
        }

        h4, h5, h6 { 
            margin-bottom: .6em;
        }

        p {
            margin-bottom: 1em;
        }

        blockquote {
            margin-top: 2.2em;
            margin-bottom: 2.2em;
        }

        pre, code {
            margin-top: 2.2em;
            margin-bottom: 2.2em;
        }

        ol, ul {
            margin-bottom: 1em;
        }
    }

    .ql-editor.ql-blank:before {
        left: 0;
        right: 0;
    }
}